@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: black;
}

header{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .info{
    min-width: 100%;
    background-color: #FCDEDA;
    padding-block: 10px;
    display: flex;
    justify-content: center;
}

.info a:hover{
    text-decoration: underline;
    color: rgb(90, 86, 86);
}

.header .navbar_1{
    min-width: 100%;
    padding-block: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_1 .logo img{
    max-width: 100px;
}

.navbar_1 .search {
    min-width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden; 
    border: 1px solid black;
}

.navbar_1 .search input {
    min-width: 95%;
    height: 100%;
    border: none;
    padding-left: 10px; 
    border-radius: 0; 

}

.navbar_1 .search button {
    background-color: white;
    min-width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.navbar_1 .search:hover{
    box-shadow: 0px 0px 2px black;
}

.navbar_1 .search button:hover{
    font-size: 0.9rem;
}

.navbar_1 .nav_icons{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}

.icon-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.icon-style p{
    font-size: 0.8rem;
    text-transform: uppercase;
}


.navbar_2 {
    padding: 15px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e9718b;
    text-decoration: 2px underline;
}

.dropdown {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.nav-links li:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px 20px;
    width: 150px;
}

.dropdown a {
    padding: 5px;
    color: #333;
}

.dropdown a:hover {
    color: #e9718b;
    background-color: #f1f1f1;
}




.info{
    min-width: 100%;
    background-color: #FCDEDA;
    padding-block: 15px;
    display: flex;
    justify-content: center;
}

.info a:hover{
    text-decoration: underline;
    color: rgb(90, 86, 86);
}


@media (max-width: 1024px) {
    .header{
        gap: 20px;
    }
    .header .navbar_1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .navbar_1 .logo img {
        max-width: 80px;
    }

    .navbar_1 .search {
        min-width: 90%;
        input{
            min-width: 90%
        }
    }

    .navbar_1 .nav_icons {
        gap: 20px;
        font-size: 1.2rem;
    }

    .nav-links{
        gap: 20px;
    }
}


/* Media query for mobile devices (max-width: 425px) */
@media (max-width: 425px) {
    body {
        font-size: 14px; 
    }

    .header .navbar_1 {
        flex-direction: column;
        align-items: center;
        gap: 15px; 
    }

    .navbar_1 .logo img {
        max-width: 60px; 
    }

    .navbar_1 .search {
        min-width: 90%; 
    }

    .navbar_1 .search input {
        width: 100%; 
        font-size: 0.8rem; 
    }

    .navbar_1 .nav_icons {
        gap: 15px; 
        font-size: 1rem; 
    }

    .icon-style p {
        font-size: 0.6rem; 
    }

    .navbar_2 {
        padding: 10px 15px; 
    }

    .nav-links {
        flex-direction: column; 
        gap: 10px; 
    }

    .nav-links li {
        text-align: center; 
    }

    .dropdown {
        top: 35px; 
        left: -20px; 
        width: 200px; 
    }

    .dropdown li {
        padding: 8px 10px; 
    }

    .dropdown a {
        font-size: 14px; 
    }
}

