*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,h1,h2,h3,h4,span,a{
margin: 0;
padding: 0;
}
.care_container{
    padding: 5rem;
}
.care_container > h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;

}
.care_container > h1{
    font-size: 60px;
    color: #e9718b;
    text-align: center;
    margin-bottom: 20px;
}
.care_container > p{
    font-size: 20px;
    margin-bottom: 29px;
}
.content_box h3{
    font-size: 20px;
    margin-bottom: 18px;

}
.content_box p{
    font-size: 20px;
    margin-bottom: 29px;
}
.care_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.care_row .img_box{
    margin-left: 60px;
}
.care_row .img_box.right{
    margin-left: 0;
    margin-right: 60px;
}
.care_row .img_box img{
    max-width: 596px;
    border: 1px solid #eee;
} 
@media only screen and (max-width: 1200px){
    .care_row .img_box img{
        max-width: 450px;
    }
}
@media only screen and (max-width: 992px){
    .care_row .img_box img{
        max-width: 350px;
        display: block;
    }
    .care_container > h1{
        font-size: 40px;
    }
}
@media only screen and (max-width: 767px){
    .care_row .img_box img{
        max-width: 100%;
        display: block;
    }
    .care_row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .care_row .img_box.right{
        order: 2;

    }
    .care_container{
        padding: 2rem 1rem;
    }
    .care_container > h1 {
        font-size: 33px;
    }
    .care_container > h3 {
        font-size: 37px;}
        .care_row .img_box{
            margin-left: 0;
        }
        .care_row .img_box.right{
            margin-right: 0;
        }

}
