
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    Font-style: normal;
    Font-family: lato, avenir next, sans-serif;
}
/*----------------------- header----------------------- */
.info{
    min-width: 100%;
    background-color: #FCDEDA;
    padding-block: 10px;
    display: flex;
    justify-content: center;
}

.info a:hover{
    text-decoration: underline;
    color: rgb(90, 86, 86);
}

.header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index: 1000; 
}



.header .navbar_1 {
    z-index: 1001;
    background-color: white; 
    min-width: 100%;
    padding-block: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar_1 .logo img{
    max-width: 100px;
}

.navbar_1 .search {
    min-width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden; 
    border: 1px solid black;
}

.navbar_1 .search input {
    min-width: 95%;
    height: 100%;
    border: none;
    padding-left: 10px; 
    border-radius: 0; 

}

.navbar_1 .search button {
    background-color: white;
    min-width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.navbar_1 .search:hover{
    box-shadow: 0px 0px 2px black;
}

.navbar_1 .search button:hover{
    font-size: 0.9rem;
}

.navbar_1 .nav_icons{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;
}
.navbar_1 .menu-icon{
    display: none;
}

.icon-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.icon-style p{
    font-size: 0.8rem;
    text-transform: uppercase;
}

.header .navbar_2 {
    min-width: 100%;
    position: sticky;
    top: 70px; 
    z-index: 1000; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar_2 {
    padding: 15px 20px;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e9718b;
    text-decoration: 2px underline;
    background-color: white;
}

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.nav-links li:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 10px 20px;
    width: 250px;
    list-style: none;
}

.dropdown a {
    padding: 5px;
    color: #333;
}

.dropdown a:hover {
    color: #e9718b;
    /* background-color: #f1f1f1; */
}

/* Nested dropdown (submenu) */
.dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .dropdown li:hover .dropdown-submenu {
    display: block;
  }



.info{
    min-width: 100%;
    background-color: #FCDEDA;
    padding-block: 15px;
    display: flex;
    justify-content: center;
}

.info a:hover{
    text-decoration: underline;
    color: rgb(90, 86, 86);
}


@media (max-width: 1024px) {
    .header{
        /* gap: 20px; */
    }
    .header .navbar_1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .navbar_1 .logo img {
        max-width: 80px;
    }

    .navbar_1 .search {
        min-width: 90%;
        input{
            min-width: 90%
        }
    }

    .navbar_1 .nav_icons {
        gap: 20px;
        font-size: 1.2rem;
    }

    .nav-links{
        gap: 20px;
    }
}
@media (max-width: 768px){
    .navbar_1 .menu-icon{
        display: initial;
        cursor: pointer;
    }
    .navbar_2 .nav-links{
        display: none;
    }
    
    .dropdown li{
        display: none;
    }
}


@media (max-width: 425px) {
    body {
        font-size: 14px; 
    }

    .header .navbar_1 {
        flex-direction: column;
        align-items: center;
        gap: 15px; 
    }

    .navbar_1 .logo img {
        max-width: 60px; 
    }

    .navbar_1 .search {
        min-width: 90%; 
    }

    .navbar_1 .search input {
        width: 100%; 
        font-size: 0.8rem; 
    }

    .navbar_1 .nav_icons {
        gap: 15px; 
        font-size: 1rem; 
    }

    .icon-style p {
        font-size: 0.6rem; 
    }

    .navbar_2 {
        padding: 10px 15px; 
    }

    .nav-links {
        flex-direction: column; 
        gap: 10px; 
    }

    .nav-links li {
        text-align: center; 
    }

    
    .dropdown li{
        display: none;
    }
}

.hero_image img{
    width: 100%;
    height: 100%;
    
    position: inherit !important;
    
    

}
.Dropdown{
    height: 60px;
    
    
}
ul li ul.drop li{
    display: block;
    margin: 14px 0px;


}
ul li ul.drop{
    width: auto;
    position:absolute;
    background-color: white;
    border: #222;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #222;
    
    
}
ul li:hover ul.drop{
    display: block;
    width: 15%;
    font-size: large;
    
}
.details:hover{
    cursor: pointer;
    
}.Sort_By .BestSelling .drop li:hover{
    background-color:#0000ee;
    color: white;
}
.details{
    color: #757575;
}
.BestSelling{
    color: #757575;
}

.list{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 23px;

}

.penrem{
    display: flex;
    margin: 10px;

    
    
    
}
.Pendant1{
    background-color: #f3a9c6, opacity 46.0%;  
    height: 25px;
    width:6%;
    margin: 20px;
    border: none;
    font-size: 16px;
    border-radius: 10px;

    
}
.Pendant1:hover{
    background-color:#e9718b;
    color: white;
    cursor: pointer;

}
.remove_all{
    text-decoration: underline;
    font-size: 16px;
    cursor:pointer;
    border:none;
    background-color: white;
}
img{
    width: 100%;
    
    
}
.container {
   /* display: flex;
    justify-content:center;
    /*flex-flow: row wrap;/
    margin-top: -180px;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap:-20px;
      
}
.Sort_by{
    display: inline;
}
@media (max-width: 1440px) {
    .container{
        grid-template-columns: repeat(4, 1fr);
    }
    .list{
        list-style: none;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 20px;
    }
    .hero_image img{
        width: 100%;
        height: 350px;
        
        position: inherit !important;
    }
    .product_name{
        color: grey;
        font-size: 2px;
        
        /*text-overflow: ellipsis;*/
    }
    .Pendant1{
        background-color: #f3a9c6, opacity 46.0%;  
        height: 25px;
        width: 30%;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
    
    }
    .remove_all{
        text-decoration: underline;
        font-size: 18px;
        cursor:pointer;

    }
    
}    

@media (max-width: 1024px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        }
    .list{
        list-style: none;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .hero_image img{
        width: 100%;
        height: 400px;
            
        position: inherit !important;
            
            
        
   }
    .Pendant1{
         background-color: #f3a9c6, opacity 46.0%;  
        height: 30px;
        width: 50%;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        
    }
    .remove_all{
        text-decoration: underline;
        font-size: 18px;
        cursor:pointer;
        width: 50%;
    
    }
    .rating{
        font-size: 10px;
        padding: 1px;

    }
    ul li:hover ul.drop{
        display: block;
        width: 30%;
        font-size: large;
        
    }

}                
@media (max-width: 768px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        }

    .details{
        font-size: 15px;
        
    }

    
    .hero_image img{
        width: 100%;
        height: 300px;
            
        position: inherit !important;
            
            
        
    }
    .Pendant1{
         background-color: #f3a9c6, opacity 46.0%;  
        height: 30px;
        width: 40%;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
        font-size: 14px;
        
    }
    .remove_all{
        text-decoration: underline;
        font-size: 14px;
        cursor:pointer;
    
    }
    ul li:hover ul.drop{
        display: block;
        width: 40%;
        font-size:small;
        
        
    }

}                

@media (max-width: 425px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .list{
        display: flex;
        flex-direction: row;
        gap: 25px;
        list-style-type:none;
        font-size: 15px;
        & li{
        margin: 20px;
        }
    }
    .hero_image img{
        width: 100%;
        height: 200px;
        
        position: inherit !important;
        
        
    
    }
    ul li:hover ul.drop{
        display: block;
        width: 50%;
        font-size:x-small;
        
        
    }
    
}

.shorting{
    position: relative;
    left: 20px;
    font-size: 25px;
    margin: 20px;
    color: grey;
}
    

.rating {
    font-size: 1rem;
    color:black;
    background-color: #f2f2f2;
    width: 25%;
    height: 35px;
    position: relative;
    bottom: 39px;
    border-radius: 0px 20px 0px 0px;
    padding: 5px;
    & > span{
        color: gold;
    }
}
.heart-icon{
    position: relative;
    bottom: 10px;
    left: 3px;
    margin-left: 3px;
    font-size: 55px;
    color: #ff4f71;
    transition: color 0.3s ease;
      
}

.wishlist{
    position: absolute;
    top: 10px;
    right: 12px;
    width: 50px;
    height: 50px;

    background-color:whitesmoke;
    border-radius: 50%;
}

.main-image:hover {
    opacity: 0;
}

.hover-image:hover {
    opacity: 1;
}
.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


.cards{ 
    margin:20px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    & .strike {
        font-size:1.2rem;
    }
}
.price{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.product_name{
    color: grey;
    font-size: 21.5px;
    
    /*text-overflow: ellipsis;*/
}

      
.product_name:hover {text-decoration: underline;
cursor: pointer; }
.addtocart{
    background: linear-gradient(92.32deg, #ffb9c7 12.41%, #ffe5ea 119.21%);
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    margin-top:10px ;
    
}
.addtocart:hover{
    background-color: #e9718b;
   background-image: linear-gradient(to right, #e9718b, #e9718b);
    color:white;
    
}


/* -------------Collapsible----------------- */

.collapsible {
    /* margin-bottom: 10px; */
    padding-inline: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.collapsible-header {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collapsible-content {
    padding: 15px;
    display: none;
    font-size: 14px;
    color: #555;
}

.arrow {
    transition: transform 0.3s ease;
}

.collapsible.active .arrow {
    transform: rotate(180deg);
}

.collapsible.active .collapsible-content {
    display: block;
}


/*----------------------- Footer----------------------- */

footer{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F0F0F0;
    background-image: url("https://www.giva.co/cdn/shop/files/lines.png?v=1709731978&width=1946");
    padding: 60px 183px;
    gap: 50px;
}

.footer_links{
    list-style: none;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.footer_links .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.column h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.column ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.column li {
    margin-bottom: 10px;
}
  
.column a {
    color: #333;
    text-decoration: none;
}


.subscribe-section{
    min-width: 100%;
    background-color: #F0F0F0;
    padding: 60px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.email-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width:40% ;
    height: 200px;
}
.email-container p{
    font-size: 1.5rem;
}

.email-input{
    min-width: 70%;
    display: flex;
    align-items: center;
    border: 2px solid #C1C1C1;
}
.email-input:hover{
    box-shadow: 0px 0px 2px black;
}
.email-input input{
    height: 60px;
    width: 100%;
    padding: 20px;
    border: none;
}

.email-input button{
    background-color: white;
    height: 60px;
    width: 20%;
    border: none;
}

.social-icons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    i{
        font-size: 1.4rem;
    }
}

.footer__content-middle {
    min-width: 100%; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    gap: 20px; 
    padding: 20px; 
}

.footer_app_download, .footer-channel-partners {
    width: 100%; 
    max-width: 400px; 
    text-align: center; 
}


.footer_app_download h3, .footer-channel-partners h3 {
    font-size: 1.3rem; 
}

.footer_content-bottom {
    max-width: 100%;
    display: flex;
}

.footer_copyright {
    text-align: center;
    margin-top: 2.5rem;
}



.footer-related-searches {
    background: url(//www.giva.co/cdn/shop/files/lines.png?v=1709731978&width=1946);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-inline: 50px;
    
}
.footer-section {
    text-align: left;
    line-height: 1.5;
}

.footer-section-title {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
}
.footer-links {
    display: block;
}

@media (max-width: 1024px) {
    .footer{
        padding: 60px 100px;
    }

    .footer_links .column {
        width: 100%; 
    }

    .column h4 {
        font-size: 1.25rem; 
    }

    .subscribe-section {
        flex-direction: column; 
        padding: 30px; 
        gap: 40px; 
    }

    .email-container {
        min-width: 100%; 
        height: auto; 
    }

    .email-input {
        min-width: 100%; 
    }

    .social-icons {
        justify-content: center; 
    }

    .footer__content-middle {
        flex-direction: column; 
        align-items: center;
        gap: 30px;
        padding: 20px; 
    }

    .footer_app_download {
        align-items: center; 
    }

    .footer-channel-partners {
        margin-top: 20px; 
    }

    .footer_content-bottom {
        flex-direction: column; 
        align-items: center; 
        margin-top: 20px; 
    }

    .footer_copyright {
        margin-top: 10px; 
    }

    .footer-section {
        margin-bottom: 15px; 
    }

    .footer-section-title {
        display: block; 
        margin-bottom: 5px; 
    }

    .footer-links {
        display: block; 
    }

    .footer-links a {
        margin-bottom: 5px; 
    }
}

@media (max-width: 768px) {
    .footer{
        padding: 60px 30px;
    }
    .footer_links {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 0 20px; 
    }

    .footer_links .column {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .column h4 {
        font-size: 1.25rem; 
    }

    .column ul {
        gap: 5px; 
    }

    .column li {
        margin-bottom: 5px; 
    }

    .subscribe-section {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .email-container {
        min-width: 100%;
        height: auto;
        align-items: center;
    }

    .email-input {
        min-width: 100%;
    }

    .social-icons {
        justify-content: center;
    }

    .footer__content-middle {
        padding: 10px; 
    }
    

    .footer_app_download {
        align-items: center;
        gap: 10px;
    }

    .footer-channel-partners {
        margin-top: 15px;
    }

    .footer_content-bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .footer_copyright {
        margin-top: 5px;
    }

    .footer-section {
        margin-bottom: 10px;
    }

    .footer-section-title {
        display: block;
        margin-bottom: 5px;
    }

    .footer-links {
        display: block;
    }

    .footer-links a {
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 425px) {
    .footer{
        padding: 10px 10px;
    }
    .footer_links {
        flex-direction: column; 
        align-items: center; 
        padding: 0 20px; 
    }

}


@media (max-width: 375px) {
    .footer__content-middle {
        width: 200px;
        flex-direction: column; 
        padding: 10px; 
    }

    .footer_app_download{
        display: none;
    }
    .footer-channel-partners {
        width: 100%; 
        max-width: none; 
        text-align: center;
    }

    .footer_app_download h3, .footer-channel-partners h3 {
        font-size: 1.2rem; 
    }

    .footer-section {
        margin-bottom: 10px; 
    }

    .footer-section-title {
        font-size: 14px; 
    }

    .footer-links a {
        font-size: 12px; 
    }
}
.sub-navbar{
    position: sticky;
    top:110px; /* Adjust the top position based on the height of navbar_1 and navbar_2 */
    z-index: 998;
    
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}